#game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.cell {
    width: 100%;
    border-radius: 8px;
}

.cell img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: black;
}

.hidden {
    transition: 0.3s;
}

.clicked {
    transition: 0.3s;
    background-color: transparent  !important;
}

.matched {
    transition: 0.5s;
    opacity: 0;
    background-color: white  !important;
}
